<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.dao.InterviewMapper">
    <resultMap id="interviewtMap" type="interview">
        <id property="id" column="T_ID"></id>
        <result property="inviteState" column="I_INVITESTATE"></result>
        <result property="resultState" column="I_RESULTSTATE"></result>
    </resultMap>
    <update id="updateInterview">
        UPDATE I_INTERVIEW SET I_INVITESTATE=#{state}
    </update>
    <select id="getInterviewByT" resultMap="interviewtMap">
        SELECT * FROM WHERE  I_TID=#{id} AND I_INVITESTATE=#{stae}
    </select>
</mapper>