<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.dao.PositionMapper">
    <resultMap id="positionMap" type="position">
        <id property="id" column="P_ID"></id>
        <result property="name" column="P_NAME"></result>
        <association property="department" javaType="department">
            <id property="id" column="D_ID"/>
        </association>
    </resultMap>
    <insert id="addP">
        INSERT INTO P_POSITION (P_ID, P_NAME, P_DID, P_STATE) VALUES (P_POSITION_SEQ.nextval,#{name},#{department.id},#{state})
    </insert>
    <delete id="deleteP">
        DELETE FROM P_POSITION WHERE P_DID=#{department.id}
    </delete>
    <delete id="deletePById">
        DELETE FROM  P_POSITION WHERE P_ID=#{id}
    </delete>
    <select id="getPositionById" resultMap="positionMap">
        SELECT * FROM P_POSITION WHERE ID=#{pId}
    </select>
    <select id="getPosition" resultMap="positionMap">
        SELECT * FROM P_POSITION WHERE P_DID=#{department.id}
    </select>
    <select id="getPByName" resultMap="positionMap">
        SELECT * FROM P_POSITION WHERE P_NAME=#{name}
    </select>
</mapper>