<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.dao.ResumeMapper">
    <insert id="addResume"></insert>
    <update id="updateResume"></update>
    <delete id="deleteResume"></delete>
    <select id="getResume" resultType="com.lx.model.Resume"></select>
    <select id="getResumeById" resultType="com.lx.model.Resume"></select>
</mapper>